@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

/* ----------- 1. Global Styles ------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

:root {
    --main-txt-color: #0C0C0C; /* (voor standaard tekst)*/
    --big-spacywords-color: #F2F0FF;  /*(voor de grote zwevende woorden, zoals "hello" en "services")*/
    --background-project-color: #F3F6F9; /*voor de achtergrond van projecten*/
    --service-tegel-txt: #7A7A7A; /*voor dfe serfice tegel tekst*/
    --standard-color1: #5722CD; /*paars*/
    --standard-color2: #4845E4; /*blauw*/
    --standard-color3: #ED4385; /*roze*/
    --standard-color4: #F2F0FF; /*lichtpaars*/
}

/* --------- 2. Typography ------- */

body {
    font-family: 'Roboto', sans-serif;

}
header {
    background: rgb(87,34,205);
    background: linear-gradient(90deg, rgba(87,34,205,1) 2%, rgba(72,69,228,1) 35%);;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-size: 21px;
}
/* --------------- 3. navigatie balk ----------------- */
 header .outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 header .inner-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

.nav-container {
    display: flex;
    flex-direction: row;
    align-self: end;

}

.nav-container > ul {
    display: flex;
    gap: 35px;
    color: var(--standard-color4);
    padding: 1rem 2rem;
    list-style: none;
}

/*!*!* -------- 3.1 header --------- *!*!*/

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--standard-color4);
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}

.content-container > h1 {
    display: flex;
    flex-basis: 15px;
    overflow-wrap: break-word;
}

.content-container > p {
    text-align: center;
    margin: 25px;
    font-size: 21px;
    font-weight: 150;
}
.content-container > button {
    background-color: var(--standard-color3);
    color: var(--standard-color4);
    border: none;
    border-radius: 45px;
    padding: 25px 35px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
}


/*!* -------- 4. main ------------------- *!*/
.mainbackground {
    background-color: var(--background-project-color);
}
/* -------- 4.1 section 1 --------- */
main .outer-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.section-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--standard-color4);
    color: var(--standard-color1);
    overflow-wrap: break-word;
    padding-top: 50px;
    font-size: 55px;
    padding-left: 550px;
    padding-right: 550px;
    margin-bottom: 15px;
}

.question {
    font-size: 17px;
    padding-top: 50px;
    padding-bottom: 60px;
    color: var(--main-txt-color);

}
a:hover {
    color: var(--standard-color3)
}

a:link {
    color: var(--standard-color1)
}

/*/* ------- 4.2 section 2 --------------- */
section .outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.div-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 35%;
    min-width: 25px;
    gap: 75px;
    font-weight: 450;
    margin: 15px;
}

.outer-container img {
   width: 100%;
}

.image-wrapper {
    flex-basis: 880px;
    flex-grow: 0;
    flex-shrink: 1;
}

article:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

/*!*!* ------- 4.3 section 3 --------------- *!*!*/




/*!*!* ------- 4.4 section 4 --------------- *!*!*/
.outer-container-tegels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inner-container-tegels{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    text-align: left;
    border: solid red;
    gap: 10px;
    margin-left: 205px;

}

.icons {
    max-width: 55px;
}




/*!*!* ----------------- 5. Footer ------- *!*!*/

footer {
    background: var(--main-txt-color);
    color: var(--standard-color4);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}