@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

/* ----------- 1. Global Styles ------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

:root {
    --main-txt-color: #0C0C0C; /* (voor standaard tekst)*/
    --big-spacywords-color: #F2F0FF;  /*(voor de grote zwevende woorden, zoals "hello" en "services")*/
    --background-project-color: #F3F6F9; /*voor de achtergrond van projecten*/
    --service-tegel-txt: #7A7A7A; /*voor dfe serfice tegel tekst*/
    --standard-color1: #5722CD; /*paars*/
    --standard-color2: #4845E4; /*blauw*/
    --standard-color3: #ED4385; /*roze*/
    --standard-color4: #F2F0FF; /*lichtpaars*/
}

/* --------- 2. Typography ------- */

body {
    font-family: 'Roboto', sans-serif;

}
header {
    background: rgb(87,34,205);
    background: linear-gradient(90deg, rgba(87,34,205,1) 2%, rgba(72,69,228,1) 35%);;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

html {
    font-size: 18px;
}
 /*---------------- reusables ----------------*/
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
     display: flex;
     flex-direction: column;
     flex-basis: 1200px;
     flex-shrink: 1;
     margin-inline: 20px;
 }

/* --------------- 3. navigatie balk ----------------- */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -150px;

}

.navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 35px;
    color: var(--standard-color4);
    list-style: none;

}

/*!*!*!* -------- 3.1 header --------- *!*!*!*/

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--standard-color4);
    padding: 65px;
    text-align: center;
}


.header-content  p {
    padding: 25px;
    font-weight: lighter;
}
.header-content  button {
    background-color: var(--standard-color3);
    color: var(--standard-color4);
    border: none;
    border-radius: 45px;
    padding: 25px 18px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
}


/*!*!* -------- 4. main ------------------- *!*!*/
main {
    background-color: var(--background-project-color);
}
/*!*!* -------- 4.1 section 1 --------- *!*!*/

.inner-container-section-one {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    flex-shrink: 1;
    margin-inline: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--standard-color1);
    padding: 35px;

}

.inner-container-section-one p {
    margin-bottom: 25px;
    font-size: 1.3em;
}


.question {
    font-size: 17px;
    padding-top: 50px;
    padding-bottom: 60px;
    color: var(--main-txt-color);

}
a:hover {
    color: var(--standard-color3)
}

a:link {
    color: var(--standard-color1)
}

/*!*!* ------- 4.2 section 2 --------------- *!*/


.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    gap: 120px;
}


.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    text-align: left;
    /*border: solid red;*/
}

.article-content img {
    width: 50px;
}

.article-content h3 {
    margin-bottom: 35px;
}

.article-content p {
    margin-block: 35px;
}



.view-project {
    text-transform: uppercase;
    color: var(--standard-color1)
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.article:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;

}

.article-content:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: flex-end;




/*!*!*!* ------- 4.3 section 3 --------------- *!*!*!*/

/*.outer-container-tegels {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.inner-container-tegels{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 350px;*/
/*    text-align: left;*/
/*    border: solid red;*/
/*    gap: 10px;*/
/*    margin-left: 205px;*/

/*}*/

/*.icons {*/
/*    max-width: 55px;*/
/*}*/


/*!*!*!* ------- 4.4 section 4 --------------- *!*!*!*/
/* formulier /*

/*!*!*!* ----------------- 5. Footer ------- *!*!*!*/

/*footer {*/
/*    background: var(--main-txt-color);*/
/*    color: var(--standard-color4);*/
/*    text-align: center;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/